node_modules/
*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build/
captures/
.externalNativeBuild
misc.xml
.idea/
.DS_Store
bin/
gen/
out/
#IOS project
.DS_Store
xcuserdata
build
*.mode1v3
*.pbxuser
*.xcworkspace
*.moved-aside
DerivedData

# If you are using CocoaPods
Pods
Podfile.lock